.tag {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 20px;
}

.small {
	font-size: 12px;
	line-height: 12px;
}

.large {
	font-size: 14px;
	line-height: 14px;
}

.primary {
	color: var(--primary);
	border: 1px solid var(--primary);
	font-weight: 500;
}

.ghost {
	border: 1px solid var(--light-gray);
	font-weight: 500;
}

.grey {
	color: var(--white);
	background-color: #B3C0D9;
	font-weight: 600;
}

.red {
	color: var(--white);
	background-color: #DE0000;
	font-weight: 600;
}

.green {
	color: var(--green);
	background-color: var(--light-green);
	font-weight: 700;
}

.href {
	color: inherit;
	text-decoration: none;
}
