.textarea {
	width: 100%;
	padding: 8px 12px;
	font-family: var(--font-family);
	color: var(--black);
	resize: none;
	border: none;
	border-radius: 5px;
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

.wrapper {
	position: relative;
}

.textarea:focus-visible {
	outline: thin groove var(--primary);
}

.error {
	outline: thin groove var(--red);
}

.error:focus-visible {
	outline: thin groove var(--primary);
}

.errorMessage {
	position: absolute;
	top: 51px;
	left: 0;
	width: 100%;
	font-size: 13px;
	color: var(--red);
}
