.rating {
  position: relative;
}

.rating span:first-child .star svg {
	margin-left: 0;
}

.star svg {
	margin-left: 5px;
}

.filled svg {
	fill: var(--primary);
}

.isEditable {
	cursor: pointer;
}

.star svg:focus {
	outline: none;
}

.star svg:focus-visible {
	transform: scale(1.2);
}

.error svg{
  stroke: var(--red);
}

.errorMessage {
  color: var(--red);
  position:absolute;
  width: 100%;
  left: 0;
  top: 20px;
  font-size: 13px;
}
