.rating span:first-child .star svg {
	margin-left: 0;
}

.star svg {
	margin-left: 5px;
}

.filled svg {
	fill: var(--primary);
}

.isEditable {
	cursor: pointer;
}

.star svg:focus {
	outline: none;
}

.star svg:focus-visible {
	transform: scale(1.2);
}
