.rating {
	position: relative;
}

.rating span:first-child .star svg {
	margin-left: 0;
}

.star svg {
	margin-left: 5px;
}

.filled svg {
	fill: var(--primary);
}

.isEditable {
	cursor: pointer;
}

.star:focus-visible {
	outline: none;
}

.star:focus-visible svg {
	stroke: var(--black);
}

.error svg {
	stroke: var(--red);
}

.errorMessage {
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	font-size: 13px;
	color: var(--red);
}
