.sort {
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
}

.sortButton {
	font-family: var(--font-family);
	cursor: pointer;
	background: inherit;
	border: none;
}

.sort span {
	margin-left: 8px;
}

.sortActive {
	font-weight: 700;
	color: var(--primary);
}

.sortActive svg {
	fill: var(--primary);
}

.sortName {
	display: none;
}
