* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-family);
	color: var(--black);
	background-color: #F5F6F8;
}

a {
	color: inherit;
	text-decoration: none;
  outline-offset: -1px;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

:root {
	--black: #3B434E;
	--light-gray: #EBEBEB;
	--dark-gray: #6C7077;
	--white: white;
	--primary: #DB006D;
	--primary-hover: #AF0058;
	--red: #FC836D;
	--light-red: #FFBBAF;
	--green: #107A4F;
	--light-green: #C8F8E4;
	--font-family: "Noto Sans", sans-serif;
}
